@import "tailwindcss";
.bg1
{
   background: linear-gradient( to right, #1A47EA, #82E9FF);
}
.bg2
{
   background: linear-gradient( to right, #FF9B05, #FF8F3F);
}
.bg4
{
   background: linear-gradient( to right, #FF9898, #FF1F00);
}
.bg3
{
   background: linear-gradient( to right, #DDA6FF, #D828F4);
}
.bgi
{
background-image: url("./2722\ [преобразованный]\ 5.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.bgimg
{
background-image: url("./2722\ [преобразованный]\ 6.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}