@import "tailwindcss";
.bg1
{
   background: linear-gradient( to right, #1A47EA, #82E9FF);
}
.bgi
{
background-image: url("./2722\ [преобразованный]\ 5.png");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}